<footer style="background-color: #EAE4D5;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  border-top: 1px solid #ddd;position: relative;margin-top: -50px;z-index: 10;">
  <div style="display: flex; align-items: center; justify-content: center; gap: 15px; margin-bottom: 10px;">
  <p style="margin: 0; color: black; font-size: 20px;">|| Harsh Kumar Panjiyara ||</p>
  <a href="https://github.com/HarshKumar75" target="_blank" style="color: #764ba2; text-decoration: none; font-size: 20px;">
    GitHub
  </a>
</div>

  <p style="color: #666; font-size: 14px; margin: 0;">
    &copy; <%= new Date().getFullYear() %> WorldLogIn. All rights reserved.
  </p>
</footer>

